<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>iDeal-Hub activation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
  Dear <span th:text="${user.name}"></span>
</p>

<p>
  Your iDeal-Hub account has been created, please click on the URL below to activate it:
</p>

<p>
  <a th:href="@{|${baseUrl}?email=${user.email}|}"
     th:text="|${user.name}|">Activation Link</a>
</p>

<p>
  <span>Regards, </span>
  <br/>
  <em>iDeal-Hub.</em>
</p>
</body>
</html>
